@use '../abstract/variables' as var;

.navbar {
  padding-bottom: 1rem;

  &__menu {
    display: flex;
    justify-content: center;
    padding-left: 0;

    list-style: none;
  }

  &__item {
    padding: 5px 20px;
  }

  &__link {
    display: block;
    padding: 10px 15px;
    min-width: 100px;

    text-decoration: none;
    text-align: center;
    color: inherit;

    border-top: 3px solid var.$primary;
    border-bottom: 3px solid var.$primary;
    border-radius: 9px;

    &:hover,
    &.active {
      background: var.$primary;
      color: #fff;
    }
  }
}

.header {
  .navbar__item:not(:last-child) {
    border-right: 1px solid #000;
  }
}

.invoices {
  .navbar {
    padding: 1rem;
    border-right: 1px solid;

    &__menu {
      flex-direction: column;
      gap: 10px;
    }
  }
}
